<div class="ui-g card" style="background-image:linear-gradient(90deg, #31282840, #87d1f3) ;">
    <div class="ui-g-10 ui-md-offset-1">


        <div class="ui-g card">
            <div class="ui-md-11 ui-sm-11 ui-g-11">


                <u> <h3 style="text-align:center; font-size:26px;">Marketing Report</h3></u>
                <p-table>

                    <ng-template pTemplate="header">
                        <tr>
                            <th rowspan=2 class="trt">
                                Summary
                            </th>
                            <th class="trt">
                                Total Software Interested
                            </th>
                            <th class="trt">
                                Total Service Interested
                            </th>
                        </tr>

                        <tr>
                            <th style="background:white;">
                                {{marketingReport?.totalSoftwareInterested}}
                            </th>
                            <th style="background:white;">
                                {{marketingReport?.totalServiceInterested}}
                            </th>
                        </tr>




                    </ng-template>
                </p-table>

            </div>
            <div class="ui-g-6 ui-md-offset-3">
                <br><br>
                <p-chart type="bar" [data]="marketingReportData" [options]="options"></p-chart>
            </div>
        </div>
        <div class="ui-g card">
            <div class="ui-md-11 ui-sm-11 ui-g-11">


                <u> <h3 style="text-align:center; font-size:26px;">Conversion Report</h3></u>
                <p-table>

                    <ng-template pTemplate="header">
                        <tr>
                            <th rowspan=2 class="trt">
                                Summary
                            </th>
                            <th class="trt">
                                Total Conversions
                            </th>
                        </tr>

                        <tr>
                            <th style="background:white;">
                                {{conversionReport?.totalConversions}}
                            </th>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
            <div class="ui-g-6 ui-md-offset-3">
                <br><br>
                <p-chart type="bar" [data]="conversionReportData" [options]="options"></p-chart>
            </div>
        </div>





    </div>
</div>