<div class="ui-g ui-g-offset-4">

  <div class="ui-g-4">
    <p-button label="Company Log List"(onClick)="companyLogList()" class="ui-button-rounded ui-button-success"></p-button>
    <p>&nbsp;</p>
    
  </div>
  <div class="ui-g-4">
    <p-button label="Marketing Log List" (onClick)="marketingLogList()"
    class="ui-button-rounded ui-button-success"></p-button>
    <p>&nbsp;</p>
    
  </div>
  
</div>




<!-- <app-company-log-form *ngIf="compLog"></app-company-log-form>
<app-marketing-log-form *ngIf="markLog"></app-marketing-log-form> -->