/*style="font-family:Arial rounded bold;font-size:26px;display:inline-block;margin-top:2px"*/
.pan{
    font-family:Arial Rounded Mt !important;
    font-size:26px !important;
    display:inline-block !important;
   
}
label{
    font-weight:700;
}