<form style="margin-left: 220px; margin-right: 220px; margin-top:35px">
  <div class="card">
    <p-panel>
        <p-header  styleclass="ui-panel ui-panel-titlebar">
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title pan"><img src="assets/image/logo.png" id="logo"></span>
                </div>
        </p-header>

<div class="ui-g ui-fluid">
    <div class="ui-sm-4  ui-g-4" style="margin-top: 10px">
        <label for="name">  User Name:</label>
      </div>
      <div class="ui-sm-8  ui-g-8">
        <input id="name"  type="text" pInputText #userName>
      </div>
      <div class="ui-sm-4  ui-g-4" style="margin-top: 10px">
          <label for="password">Password:</label>
        </div>
        <div class="ui-sm-8  ui-g-8">
          <input id="name" type="text" #pwd pInputText>
        </div>
      

</div>
    



        <p-footer  style="padding-left: 40%">
            <button pButton type="button" (click)="doLogin(userName.value,pwd.value)" label="Login" class="ui-button-raised ui-button-rounded"></button>
            
          </p-footer>


      </p-panel>
    </div>
</form>
<br>
<br>


